body {
	color: black;
	font-family: 'Open Sans', sans-serif;
	background: #f5f1ec;
}

header {
	margin-bottom: 5em;
	height: 28.125rem;
}
header nav {
	width: 39%;
	margin: 3.6rem 0 0.5rem 4.688rem;
	float: left;
	bottom: 0;
}

.header-ul input{
	margin-top: 0.75rem;
}

.header-ul select{
	margin-top: 0.75rem;
}

.header-ul {
	list-style-type: none;
	margin: 3.6rem 3.125rem 4.063rem;
	padding: 0;
	float: right;
}

li {
	float: left;
}

ul a {
	display: block;
	text-align: center;
	color: black;
	font-weight: 600;
	padding: 0.875rem 1rem;
	text-decoration: none;
}

.logo * {
	margin: 1rem 1rem 1rem 3.125rem;
	width: 5rem;
	height: 4.438rem;
	float: left;
	display: block;
}

header h2 {
	font-weight: 450;
	margin-left: 3.125rem;
	margin-bottom: 1.563rem;
	font-size: 85px;
	width: 50%;
	bottom: 0;
}

header h3 {
	font-weight: bold;
	bottom: 0;
	margin-left: 3.125rem;
	margin-bottom: 4em;
	display: block;
}

#header-link-1 {
	background-color: black;
	color: #f5f1ec;
	padding: 1rem;
	font-style: italic;
	bottom: 0;
	margin-left: 3.125rem;
}

#header-link-2 {
	font-style: italic;
	bottom: 0;
	margin-left: 2.5em;
}

.regular-painting-1 {
	display: inline-block;
	width: 30vw;
	margin: 1.563rem 1.563rem 0 3.125rem;
	height: 46.875rem;
	float: left;
}

.regular-painting-1 img {
	height: 41.25rem;
	object-fit: contain;
}

.regular-painting-1 h2 {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 2.25rem;
}

.regular-painting-1 p {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 1rem;
	font-style: italic;
	text-decoration: underline;
}

.regular-painting-2 {
	display: inline-block;
	width: 30vw;
	margin: 1.563rem 1.563rem 1.563rem 0;
	height: 46.875rem
}

.regular-painting-2 img {
	height: 41.25rem;
	object-fit: contain;
}

.regular-painting-2 h2 {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 2.25rem;
}

.regular-painting-2 p {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 1rem;
	font-style: italic;
	text-decoration: underline;
}

.irregular-painting {
	margin-right: 3.125rem;
	height: 75rem;
	float: right;
	margin-top: -25.938rem;
}

.irregular-painting img {
	object-fit: contain;
	height: 68.75rem;
	overflow: visible;
}

.irregular-painting h2 {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 2.25rem;
}

.irregular-painting p {
	margin: 1rem 0 0 1rem;
	text-align: left;
	font-size: 1rem;
	font-style: italic;
	text-decoration: underline;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

.phases {
	width: 20vw;
	float: left;
	margin: 10em 0 9em 0;
}

.phrase {
	font-weight: bold;
	font-style: italic;
}

.author {
	font-weight: 200;
	margin: 1.25rem 0 6.25rem 0;
}

.title	{
	display: inline-block;
	width: 100vw;
	margin: 0 0 1.875rem 3.125rem;
	font-size: 2.25rem;
	font-weight: 600;
}

.recently-block {
	width: content-box;
	height: 17vw;
	margin-left: 3.125rem;
}

.recently-block img {
	height: 15vw;
	object-position: center;
	object-fit: contain;
}

.recently-block h2 {
	width: 70%;
	margin: 1.25rem 0 0 1rem;
	text-align: left;
	font-size: 0.75rem;
	font-weight: 1000;
}

.recently-block p {
	width: 70%;
	padding: 0.25rem 0 0 0.75rem;
	text-align: left;
	font-size: 0.75rem;
	font-style: italic;
}

.fav-button {
	padding-left: 1.813rem;
	margin-top: 0.625rem;
	margin-left: 3.125rem;
	border: none;
	background-color: #f5f1ec;
}

.cart-button {
	float: right;
	background-color: #f5f1ec;
	border: none;
	margin: 0.75rem 1rem 0 0;
}

.gallery .title {
	margin-top: 4.688rem;
}
#words {
	font-size: 0.875rem;
	margin-left: 3.125rem;
	width: 40vw;
	margin-right: 50vw;
	font-weight: 500;
	margin-bottom: 1.563rem;
}

.gallery-block {
	width: 33.063rem;
	height: 45.063rem;
	margin-left: 3.125rem;
	margin-bottom: 3.125rem;
}

.gallery-block img {
	width: 33.063rem;
	height: 41.313rem;
	object-position: center;
	object-fit: contain;
}

.gallery-block h2 {
	width: 70%;
	padding: 1rem 1rem 0 1rem;
	margin: 0 0 0 0.813rem;
	text-align: left;
	font-size: 12px;
	font-weight: 1000;
}

.gallery-block p {
	width: 70%;
	margin-left: 0.813rem;
	padding: 0.188rem 1rem 1rem 1rem;
	text-align: left;
	font-size: 12px;
	font-style: italic;
}

#third-section-show-all {
	display: inline-block;
	margin-right: 50vw;
	float: left;
	margin-left: 3.125rem;
	margin-bottom: 4.375rem;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

.magazine .title {
	font-size: 150px;
	font-weight: 1001;
	margin-bottom: 3vw;
}

.magazine > p {
	font-weight: 700;
	font-size: 24px;
	width: 55vw;
	margin-left: 2.6vw;
	margin-right: 50vw;
	margin-bottom: 1vw;
}

.magazine-block-1 {
	margin-left: 3vw;
	width: 29.5vw;
	height: 42.5vw;
}

.magazine-block-1 img {
	width: 29.5vw;
	height: 36.75vw;
	object-fit: contain;
}

.magazine-block-1 h2 {
	margin: 1.5rem 0;
	font-weight: 800;
	padding-left: 1.188rem;
	text-align: left;
	font-size: 24px;
}

.magazine-block-1 p{
	padding-top: 1.5rem;
	text-align: left;
	padding-left: 1.188rem;
	text-decoration: underline;
	font-style: italic;
	font-size: 16px;
}

.magazine-block-2 {
	float: right;
	width: 62.5rem;
	height: 86.875rem;
}

.magazine-block-2 img {
	object-fit: contain;
	width: 62.5rem;
	height: 79.875rem;
}

.magazine-block-2 h2 {
	margin: 1.5rem 0 3rem 4.688rem;
	font-weight: 800;
	padding-left: 1.188rem;
	text-align: left;
	font-size: 24px;
}

.magazine-block-2 p{
	margin-left: 4.688rem;
	text-align: left;
	padding-left: 1.188rem;
	text-decoration: underline;
	font-style: italic;
	font-size: 16px;
}

#fix {
	margin-top: -30.25vw;
}

#magazine-see-all{
	display: inline-block;
	margin:-1.25rem 3.125rem 2.5rem 80vw;
	text-decoration: underline;
	font-style: italic;
	float: right;
	font-weight: bold;
}

.creator {
	width: 27.5vw;
	margin-left: 3.125rem;
	height: 37.5vw;
}

.creator img {
	width: 27.5vw;
	height: 34.5vw;
	object-fit: fill;
}

.creator h2 {
	text-align: left;
	margin: 1.5rem 0 0 1.5rem;
	font-size: 24px;
}

#all-creators {
	float: left;
	margin: 3rem 50vw 5rem 3.5rem;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

#disclaimer {
	float: left;
	font-size: 12px;
	margin-left: 4rem;
	margin-right: 57vw;
	margin-bottom: 4vw;
	width: 40vw;
}

#main-footer-ul {
	margin-left: 4rem;
	float: left;
}


footer ul li ul li{
	float: none;
}