body {
	color: black;
	font-family: 'Open Sans', sans-serif;
	background: #f5f1ec;
}

header {
	margin-bottom: 5em;
	height: 450px;
}
header nav {
	width: 39%;
	margin: 0 0 65px 75px;
	float: left;
	/*position: sticky;*/
	bottom: 0;
}

header .header-ul {
	list-style-type: none;
	margin: 15px 50px 65px;
	padding: 0;
	float: right;
}

li {
	float: left;
}

ul a {
	display: block;
	text-align: center;
	color: black;
	font-weight: 600;
	padding: 14px 16px;
	text-decoration: none;
}

.logo * {
	margin: 15px 15px 15px 50px;
	width: 80px;
	height: 71px;
	float: left;
	display: block;
}

header h2 {
	font-weight: 450;
	margin-left: 50px;
	margin-bottom: 25px;
	font-size: 85px;
	width: 50%;
	bottom: 0;
}

header h3 {
	font-weight: bold;
	bottom: 0;
	margin-left: 50px;
	margin-bottom: 4em;
	display: block;
}

#header-link-1 {
	font-style: italic;
	bottom: 0;
	margin-left: 50px;
}

#header-link-2 {
	font-style: italic;
	bottom: 0;
	margin-left: 2.5em;
}

.regular-painting-1 {
	display: inline-block;
	width: 30vw;
	margin: 25px 25px 0 50px;
	height: 750px;
	float: left;
}

.regular-painting-1 img {
	height: 660px;
	object-fit: contain;
}

.regular-painting-1 h2 {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 36px;
}

.regular-painting-1 p {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}

.regular-painting-2 {
	display: inline-block;
	width: 30vw;
	margin: 25px 25px 25px 0;
	height: 750px;
}

.regular-painting-2 img {
	height: 660px;
	object-fit: contain;
}

.regular-painting-2 h2 {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 36px;
}

.regular-painting-2 p {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}

.irregular-painting {
	margin-right: 50px;
	height: 1200px;
	float: right;
	margin-top: -415px;
}

.irregular-painting img {
	object-fit: contain;
	height: 1100px;
	overflow: visible;
}

.irregular-painting h2 {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 36px;
}

.irregular-painting p {
	margin: 15px 0 0 15px;
	text-align: left;
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

.first-section .phases {
	width: 20vw;
	float: left;
	margin: 10em 0 9em 0;
}

.first-section .phrase {
	font-weight: bold;
	font-style: italic;
}

.first-section .author {
	font-weight: 200;
	margin: 20px 0 100px 0;
}

.title	{
	display: inline-block;
	width: 100vw;
	margin: 0 0 30px 50px;
	font-size: 36px;
	font-weight: 600;
}

.recently-block {
	width: content-box;
	height: 17vw;
	margin-left: 50px;
}

.recently-block img {
	height: 15vw;
	object-position: center;
	object-fit: contain;
}

.recently-block h2 {
	width: 70%;
	margin: 20px 0 0 13px;
	text-align: left;
	font-size: 12px;
	font-weight: 1000;
}

.recently-block p {
	width: 70%;
	padding: 3px 0 0 13px;
	text-align: left;
	font-size: 12px;
	font-style: italic;
}

.fav-button {
	padding-left: 29px;
	margin-top: 10px;
	margin-left: 50px;
	border: none;
	background-color: #f5f1ec;
}

.cart-button {
	float: right;
	background-color: #f5f1ec;
	border: none;
	margin: 10px 16px 0 0;
}

.third-section .title {
	margin-top: 75px;
}
#words {
	font-size: 14px;
	margin-left: 50px;
	width: 40vw;
	margin-right: 70vw;
	font-weight: 500;
	margin-bottom: 25px;
}

.gallery-block {
	width: 529px;
	height: 721px;
	margin-left: 50px;
	margin-bottom: 50px;
}

.gallery-block img {
	width: 529px;
	height: 661px;
	object-position: center;
	object-fit: contain;
}

.gallery-block h2 {
	width: 70%;
	padding: 16px 16px 0 16px;
	margin: 0 0 0 13px;
	text-align: left;
	font-size: 12px;
	font-weight: 1000;
}

.gallery-block p {
	width: 70%;
	margin-left: 13px;
	padding: 3px 16px 16px 16px;
	text-align: left;
	font-size: 12px;
	font-style: italic;
}

#third-section-show-all {
	display: inline-block;
	margin-right: 50vw;
	float: left;
	margin-left: 50px;
	margin-bottom: 70px;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

.magazine .title {
	font-size: 150px;
	font-weight: 1001;
	margin-bottom: 30px;
}

.magazine > p {
	font-weight: 1001;
	font-size: 24px;
	width: 55vw;
	margin-left: 50px;
	margin-right: 50vw;
	margin-bottom: 20px;
}

.magazine-block-1 {
	margin-left: 50px;
	width: 564px;
	height: 817px;
}

.magazine-block-1 img {
	width: 564px;
	height: 705px;
	object-fit: contain;
}

.magazine-block-1 h2 {
	margin: 24px 0;
	font-weight: 800;
	padding-left: 19px;
	text-align: left;
	font-size: 24px;
}

.magazine-block-1 p{
	padding-top: 24px;
	text-align: left;
	padding-left: 19px;
	text-decoration: underline;
	font-style: italic;
	font-size: 16px;
}

.magazine-block-2 {
	float: right;
	width: 1000px;
	height: 1390px;
}

.magazine-block-2 img {
	object-fit: contain;
	width: 1000px;
	height: 1278px;
}

.magazine-block-2 h2 {
	margin: 24px 0 48px 75px;
	font-weight: 800;
	padding-left: 19px;
	text-align: left;
	font-size: 24px;
}

.magazine-block-2 p{
	margin-left: 75px;
	text-align: left;
	padding-left: 19px;
	text-decoration: underline;
	font-style: italic;
	font-size: 16px;
}

#fix {
	margin-top: -580px;
}

#magazine-see-all{
	display: inline-block;
	margin:-20px 50px 40px 80vw;
	text-decoration: underline;
	font-style: italic;
	float: right;
	font-weight: bold;
}

.creator {
	width: 27.5vw;
	margin-left: 50px;
	height: 37.5vw;
}

.creator img {
	width: 27.5vw;
	height: 34.5vw;
	object-fit: fill;
}

.creator h2 {
	text-align: left;
	margin: 20px 0 0 20px;
	font-size: 24px;
}

#all-creators {
	float: left;
	margin: 30px 50vw 70px 50px;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}

#disclaimer {
	float: left;
	font-size: 12px;
}